<div class="container" style="max-width:600px;padding:90px 90px;">
        <h3>Login</h3>

        <form action="/login/" method="POST">
          <div class = "form-group">
            <label for="username" class = "control-label">UserName</label>
            <div class="input-group">
              <input type="name" class="form-control" id="inputUserName" placeholder="UserName/Email" required>
            </div>
          </div>

          <div class = "form-group">
            <label for="inputPassword">Password</label>
            <div class="input-group">
              <input type="password" class="form-control has-error" id="inputPassword" placeholder="Password" required>
            </div>
          </div>

          <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
          </div>

          <div class = "form-group">
            <div class = "col-sm-offset-8 col-sm-12">
              <button type = "submit" class = "btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
    </div>